.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

ul li a .active{
    color: #179978 !important;
}
.contact-label{

    position: absolute;
    top: 5px;
    right: 85px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #fff;
    text-align: center;
    font-size: .5rem;
    color: #fff;
    line-height: 16px;
}
/*.red{*/
/*    background: #ef2f1a;*/
/*}*/

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #8dcebc;
    border-color: #8dcebc;
}

.btn-light {
    padding: 5px;
    font-size: 0.7rem;
    font-weight: 700;
}
